image: Visual Studio 2019

# Download script file from GitHub
init:
  - ps: |
      $ErrorActionPreference = "Stop"
      Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
      Import-Module '..\appveyor-tool.ps1'

install:
  - ps: Bootstrap
  - git submodule update --init --recursive

environment:
  app_version: "2.0"
  USE_RTOOLS: true
  NOT_CRAN: true
  KEEP_VIGNETTES: true
  R_ARCH: x64
  matrix:
  # - R_VERSION: devel
  #   GCC_PATH: mingw_64
  - R_VERSION: release
  - R_VERSION: oldrel

version: "$(app_version).{build}"

before_build:
  - rake "prepare_for_build[%APPVEYOR_BUILD_VERSION%]"

build_script:
  - travis-tool.sh install_deps
  - travis-tool.sh r_binary_install curl
  - Rscript -e "install.packages('https://github.com/Open-Systems-Pharmacology/rClr/releases/download/v0.9.1/rClr_0.9.1.zip', repos = NULL, type = 'binary')"
  - Rscript -e "remotes::install_github('Open-Systems-Pharmacology/OSPSuite-R', ref ='develop')"
  - Rscript -e "install.packages('covr', repos = 'http://cran.us.r-project.org')"

before_test:
  - cinst pandoc
  - ps: $env:Path += ";C:\Program Files (x86)\Pandoc\"
  - pandoc -v

on_success:
  - Rscript -e "covr::codecov(function_exclusions = c('print.*', '\\.onLoad'))"

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.zip'
    name: Win

platform: x64

skip_commits:
  files:
    - "*.md"

skip_branch_with_pr: true

skip_tags: true

branches:
  only:
    - develop

pull_requests:
  do_not_increment_build_number: true
